.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:80vw;
    margin:auto;
}
.card {
    box-shadow: 2px 2px 7px 2px;
    padding: 9px;
    margin:9px;
}
.card-title {
    font-size: 1.2rem;
}
.card-content {
    font-size: 1rem;
}